<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herosoft.movie.dao.TicketMapper">

    <resultMap id="Ticket" type="com.herosoft.movie.po.TicketPo" >
        <result column="id" property="id" />
        <result column="moviename" property="moviename" />
        <result column="number" property="number" />
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
		t.moviename,
		t.number
    </sql>

    <insert id="add" parameterType="com.herosoft.movie.po.TicketPo" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO ticketPo (
            `moviename`,
            `number`
        ) VALUES (
                     #{moviename},
                     #{number}
                 );
    </insert>

    <update id="update" parameterType="com.herosoft.movie.po.TicketPo" >
        UPDATE ticketPo
        SET
            `moviename` = #{moviename},
            `number` = #{number}
        WHERE id = #{id} and number > 0
    </update>
    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE FROM ticketPo
        WHERE id = #{id}
    </delete>

    <select id="load" parameterType="java.lang.Integer" resultMap="Ticket">
        SELECT <include refid="Base_Column_List" />
        FROM ticketPo AS t
        WHERE t.id = #{id}
    </select>

</mapper>